@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

/* nuxt ui */
:root {
  --ui-radius: 4px;
}

/* custom themes */
@theme {
  --color-main: #004BE2;
  --color-gray: #8E8E93;
  --color-sc: #B6FF03;
  --color-bg: #FFFFFF;
  --color-title: #262639;
  --color-text: #1A202C;
  --color-subtext: #505050;
  --color-gray: #4d4d4d;
  --color-border: #E4E4E4;
  --color-yellow: #F6F9E3;
  --color-neutral: #727376;
  --color-neutral-light: #D3D6DC;
  --color-card-bg: #F5F7FF;
  --color-btn: #2364D2;
  --ui-primary: var(--color-main);



  /* fonts */
  --font-poppins: 'Poppins', sans-serif;

  /* font sizes */
  --text-tiny: 10px;

  /* margins */
  --spacing-4.5: 18px;
  --spacing-7.5: 30px;
  --spacing-15: 60px;
  --spacing-45: 180px;

  /* shadow */
  --shadow-modal: 0px -4px 18px 0px #0000000F;

  /* sizes */
  --xs: 450px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
  /* breakpoint */
  --breakpoint-xs: 450px
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);

}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* transition */
.modal-enter-active,
.modal-leave-active {
  transition: all 0.3s linear;
  opacity: 1;
}

.modal-enter-from,
.modal-leave-to {
  top: -100px;
  opacity: 0;
}

/* container */
.container {
  width: 100%;
  max-width: var(--xl);
  margin: 0 auto;
  padding: 0 20px;

}

@media (max-width: 1440px) {
  .container {
    max-width: var(--xl);
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: var(--lg);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: var(--md);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: var(--sm);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
    max-width: var(--xs);
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 100%
  }
}


/* custom scrolbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-track {
  background-color: var(--color-border);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-main);
}


/* swiper custom styles */
swiper-container::part(wrapper) {
  padding: 10px 0;
}

/* swiper-container::part(pagination) {
} */

swiper-container::part(bullet) {
  width: 16px;
  height: 10px;
  background-color: var(--color-text);
  border-radius: 10px;
}

swiper-container::part(bullet-active) {
  width: 20px;
  height: 10px;
  background-color: var(--color-main);
  border-radius: 10px;
}


swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}